%h1 Login

= form_tag login_create_path, :method => 'post' do

  = label :session, :user_id, 'User-ID', :id => 'login_user'
  = text_field :session, 'user_id'

  = label :session, :email, 'E-Mail', :id => 'login_email'
  = email_field :session, 'email'

  = submit_tag 'Login to my account', :id => 'login_submit'
  
  = link_to 'Sign-up for an account', new_user_path, :id => 'signup'