%h1 Sign-up

= form_tag users_path do

  = label :user, :user_id, 'User-ID', :id => 'signup_user'
  = text_field :user_id, 'user_id'

  = label :user, :email, 'E-Mail', :id => 'signup_email'
  = email_field :email, 'email'

  = button_to 'Create my account', :id => 'signup_create'
  